<app-primary-menu (menuToggle) = "drawer.toggle()"></app-primary-menu>
<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <button mat-menu-item>Baikal oilfish</button>
    <button mat-menu-item>Bala shark</button>
    <button mat-menu-item>Ballan wrasse</button>
    <button mat-menu-item>Bamboo shark</button>
    <button mat-menu-item>Banded killifish</button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet>

    </router-outlet>
  </div>

</mat-drawer-container>
<!-- <mat-spinner></mat-spinner> -->