<app-primary-menu (menuToggle) = "drawer.toggle()"></app-primary-menu>
<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side" style=" width: 137px">
    <button *ngFor="let item of accessibleEntities;" mat-menu-item (click)="navigate(item)">{{item}}</button>
    <button mat-menu-item (click)="navigate('item')">item</button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet>

    </router-outlet>
  </div>

</mat-drawer-container>
<!-- <mat-spinner></mat-spinner> -->